:root {
    --yellow-10: #FDFCE5;
    --yellow-20: #FBF7BF;
    --yellow-30: #F8F293;
    --yellow-40: #F6EC67;
    --yellow-50: #F3E841;
    --yellow-60: #F0E306;
    --yellow-70: #F2D201;
    --yellow-80: #F2BA00;
    --yellow-90: #F2A100;
    --yellow-100: #F07600;

    --gray-10: #FCFBF7;
    --gray-20: #F7F6F2;
    --gray-30: #F2F1ED;
    --gray-40: #E5E4E0;
    --gray-50: #C2C1BE;
    --gray-60: #A4A39F;
    --gray-70: #7A7A76;
    --gray-80: #666562;
    --gray-90: #474643;
    --gray-100: #252522;
    
    --blue-gradient: linear-gradient(
                to bottom,
                hsl(203.06, 100%, 50%) 0%,
                hsl(210.84, 98.51%, 69.86%) 6.3%,
                hsl(212.89, 96.33%, 77.08%) 12.2%,
                hsl(214.05, 93.41%, 82%) 17.8%,
                hsl(214.77, 89.66%, 85.67%) 23.1%,
                hsl(215.22, 84.92%, 88.5%) 28.4%,
                hsl(215.45, 79.02%, 90.72%) 33.6%,
                hsl(215.49, 71.8%, 92.47%) 39%,
                hsl(215.32, 63.13%, 93.85%) 44.6%,
                hsl(214.83, 52.95%, 94.93%) 50.5%,
                hsl(213.8, 41.33%, 95.77%) 57%,
                hsl(211.5, 28.44%, 96.43%) 64%,
                hsl(204.04, 14.4%, 96.94%) 71.6%,
                hsl(107.4, 4.4%, 97.45%) 80.1%,
                hsl(51.49, 18.27%, 97.71%) 89.6%,
                hsl(45, 40%, 98.04%) 100%
            );
    --red-gradient: linear-gradient(
                to bottom,
                hsl(358.98, 93.65%, 62.94%) 0%,
                hsl(359.27, 93%, 67.97%) 2.4%,
                hsl(359.62, 92.21%, 72.56%) 5%,
                hsl(0.08, 91.23%, 76.67%) 7.8%,
                hsl(0.65, 90.07%, 80.23%) 11%,
                hsl(1.39, 88.63%, 83.4%) 14.6%,
                hsl(2.36, 86.8%, 86.2%) 18.8%,
                hsl(3.66, 84.46%, 88.63%) 23.7%,
                hsl(5.44, 81.48%, 90.73%) 29.3%,
                hsl(7.9, 77.67%, 92.5%) 35.9%,
                hsl(11.38, 72.85%, 93.95%) 43.4%,
                hsl(16.3, 66.98%, 95.11%) 52.1%,
                hsl(23.06, 60.3%, 95.99%) 62%,
                hsl(31.45, 53.65%, 96.59%) 73.2%,
                hsl(39.42, 48.57%, 96.94%) 85.8%,
                hsl(45, 40%, 98.04%) 100%
            );
            
    --box-shadow-size: 4px;
    --box-shadow: 0px var(--box-shadow-size) calc(2 * var(--box-shadow-size)) var(--gray-100);
}