// @import 'cursors';
.col {
    display: inline-block;
    vertical-align: middle;
}
.col2 {
    width: 50%;
    @extend .col;
}
.col3 {
    width: 33%;
    @extend .col;
}
.col4 {
    width: 25%;
    @extend .col;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.center {
    text-align: center;
}
.no-marg-top {
    margin-top: 0px;
}
.align_top {
    vertical-align: top;
}

.cjust {
    justify-content: center;
}

// .text_button {
//     text-decoration: underline;
//     @extend .cursor-pointer;
// }