:root {
    font-variant-ligatures: contextual;
    -moz-font-feature-settings: "calt";
    -webkit-font-feature-settings: "calt";
    font-feature-settings: "calt";
    
    ::-moz-selection { background: var(--yellow-50); }
    ::selection {      background: var(--yellow-50); }
}

.redaction { font-family: redaction; }
.redaction-10 { font-family: redaction-10; }
.redaction-20 { font-family: redaction-20; }
.redaction-35 { font-family: redaction-35; }
// .redaction-50 { font-family: redaction-50; }
// .redaction-70 { font-family: redaction-70; }
// .redaction-100 { font-family: redaction-100; }

h1,h2,h3,h4,p {
    font-weight: 400;
    @extend .cursor-text;
}

a {
    @extend .cursor-pointer;
    color: var(--gray-100);
    text-decoration: none;
    // display: block;
    border-bottom: var(--border); 
    
    &:hover {
        background-color: var(--yellow-50);
    }
    
    &:active {
        background-color: var(--yellow-80);
    }
}

@mixin font-metadata {
    font-size: 18px;
    line-height: 24px;
    font-family: vg5000;
}

@mixin font-h1 {
    font-size: 72px;
    line-height: 64px;
}
@mixin font-h2 {
    font-size: 48px;
    line-height: 48px;
}
@mixin font-h3 {
    font-size: 36px;
    line-height: 40px;
}
@mixin font-h4 {
    font-size: 24px;
    line-height: 32px;
}
@mixin font-h5 {
    font-size: 24px;
    line-height: 32px;
}

@mixin font-p {
    font-size: 24px;
    line-height: 32px;
}

@mixin font-italic {
    font-style: italic;
}

@mixin font-bold {
    font-weight: 600;
}

@mixin font-caption {
    font-size: 18px;
    line-height: 24px;
    font-style: italic;
}

h1,h2,h3,h4,h5,.button {
    font-style: italic;
    font-family: redaction-20; 
    
}

h1 {
    @include font-h1;
}
h2 {
    @include font-h2;
}
h3 {
    @include font-h3;
}
h4 {
    @include font-h4;
}
h5 {
    @include font-h5;
}

p, ol, ul {
    @include font-p;
}

.italic {
    @include font-italic;
}

b, strong {
    @include font-bold;
}

.caption, figcaption, figcaption * {
    @include font-caption;
}

.metadata {
    @include font-metadata;
}

// LISTS

// Custom styling for numbered lists
ol li {
    counter-increment: customlistcounter;
    position: relative;

    &:before {
        content: "0" counter(customlistcounter) " ";
        position: absolute;
        left: -24px;        font-family: vg5000;
        font-variant-caps: small-caps;
        font-style: normal;
        z-index: 10; // Ensures numeral is visible if text has background
        pointer-events: none; // Ensures links work if you click on numeral
    }

    &:nth-child(1n+10):before {
        content: counter(customlistcounter) " ";
    }
    
    &:first-child {
        counter-reset: customlistcounter;
    }
}

/*
figcaption ol li {
    list-style: upper-alpha;
    counter-increment: none;
    &:before {
        content: "";
    }
}
*/