.yellow-10 { background-color: #FDFCE5; }
.yellow-20 { background-color: #FBF7BF; }
.yellow-30 { background-color: #F8F293; }
.yellow-40 { background-color: #F6EC67; }
.yellow-50 { background-color: #F3E841; }
.yellow-60 { background-color: #F0E306; }
.yellow-70 { background-color: #F2D201; }
.yellow-80 { background-color: #F2BA00; }
.yellow-90 { background-color: #F2A100; }
.yellow-100 { background-color: #F07600; }