@import 'cursors';

header {
    position: sticky;
    z-index: 2;
    margin-top: 64px;
    margin-bottom: -64px;
    left: 0;
    right: 0;
    height: 0;
    @include grid;
    @include grid-outer-margins;
    --symbol-width: calc(var(--grid-column-gap) * 2);

    @media screen and (min-width: $breakpoint-s) {
        top: 0; // Pin to top on desktop
    }

    // States
    &.not-sticky {
//         transform: translateY(32px/);
//         opacity: .1;
        
        a.logo .symbol {
//             transform: scale(2);
        }
    }
    
    h1, .links {
        opacity: 0;
        transform: translateY(8px);
        transition: var(--motion-duration-fast) var(--motion-easing);
        transition-property: opacity, transform;
    }
    
    a.logo {
        display: flex;
        grid-column: var(--grid-column-right);
        border: none; 
        grid-row: 1/2;
              
        
        @media screen and (min-width: $breakpoint-s) {
            margin-left: calc(var(--symbol-width) / -2);
            
        }
        
        &:hover {
            background: none;
        }
        
        .symbol {
            height: var(--symbol-width);
            width:  var(--symbol-width);
            background-image: url(/imgs/symbol-4bit-staggered-1fps.gif);
            background-size: contain;
            margin-left: calc(var(--grid-column-gap) * -1);
            transform: scale(2);
//             transform-origin: bottom center;
/*
            transform: scale(1);
            transition: transform var(--motion-duration-fast) var(--motion-easing);
*/
            
        }
        
        h1 {
            @include font-h4;
        }
    }
    
    .links {
        grid-column: 8/10;
        grid-row: 1/2;
        text-align: right;
        
        a {
            @include font-metadata;
            display: inline-block;
            margin-left: 8px;
            margin-top: 4px;
            padding-top: 4px;
            border: none;
            line-height: 16px;
            background: none;
            position: relative;
            
            &:hover {
                border-bottom: var(--border);
            }
            
            // Arrow icon
            &:after {
                content: " ";
                height: 16px;
                width:  16px;
                display: inline-block;
                position: relative;
                top: 2px;
                
                -webkit-mask-image: url(/icons/arrow-left-up.svg);
                        mask-image: url(/icons/arrow-left-up.svg);
                -webkit-mask-repeat: no-repeat;
                        mask-repeat: no-repeat;
                -webkit-mask-size: 100% 100%;
                        mask-size: 100% 100%;
                -webkit-mask-position: left bottom;
                        mask-position: left bottom;
                        
                background-color: var(--gray-100);
            }
        }
    }
    
    .menu-inner {
        // border
        &:after {
            content: "";
            display: block;
            position: absolute;
            left: calc(-1 * var(--grid-outer-gap-l));
            right: calc(-1 * var(--grid-outer-gap-r));
            height: calc(var(--symbol-width) / 2);
            border-bottom: var(--border);
            pointer-events: none;
        }
        
        // White background on right half of header
        &:before {
            content: "";
            display: block;
            position: absolute;
            margin-left: calc(-1 * var(--grid-outer-gap-l));;
            top: -50vh;
            left: 0;
            margin-top: 32px;
            bottom: 0;
            right: calc(-1 * var(--grid-outer-gap-r));
            height: 50vh;
            background-color: var(--gray-10);
            z-index: -1;
            
            @media screen and (min-width: $breakpoint-s) {
                left: 50vw;
            }
        }
    }
}

.cover-off-screen header {
    h1, .links {
        opacity: 1;
        transform: translateY(0px);
    }
}

.section#cover {
    min-height: 100vh;
    @include grid;
    margin-top: 0;
    padding-bottom: 72px; // Prevent bottom of cover from being covered by nav
    
    &:before {
        display: none;
    }
    
    &:after {
        top: 96px;
        border-top: none;
    }
    
    figure.canvas-container {
        grid-column: var(--grid-column-left);
        grid-row: 1 / 10;
        border: none;
//         border: 1px solid red;
        display: block;
        height: 100%;

        // Extra gradient under header
        &:before {
            content: "";
            top: 0;
            left: calc(var(--grid-column-gap) * -1);
            height: 96px;
            width: 50vw;
            position: absolute;
            background-image: var(--red-gradient);
        }
    }
    
    h1, h2, author {
        grid-column: var(--grid-column-right);
    }
    
    h1 {
        padding-top: 160px;
    }
    
    h2 {
        padding-top: 24px;
    }
    
}