@import 'includes';
@import 'colors';

.hover-link {
    position: relative;
    // @extend .cursor-pointer;
    &.l-hover {
        -webkit-transition: 0.2s ease-in;
        -moz-transition: 0.2s ease-in;
        -o-transition: 0.2s ease-in;
        transition: 0.2s ease-in;
    }
}
.content .l-hover {
    background-color: var(--gray-10);
    @extend .shadow;
    z-index:3;
    transform: scale(1.05);
    opacity: 1.0 !important;
    .background {
        background-color: transparent !important;
        -webkit-transition: 0.4s ease-in;
        -moz-transition: 0.4s ease-in;
        -o-transition: 0.4s ease-in;
        transition: 0.4s ease-in;
    }
    border-radius: 3px;
}
.text .l-hover {
    background-color: var(--yellow-20);
    @extend .shadow;
    
    .text-arrow {
        animation-name: arrow-nudge;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function:  cubic-bezier(0.37, 0, 0.63, 1);
    }
}

@keyframes arrow-nudge {
    0% {
        transform: translate3d(0, 0, 0);
    }
    
    50% {
        transform: translate3d(-8px, 0, 0);
    }
    
    0% {
        transform: translate3d(0, 0, 0);
    }
}