$breakpoint-m: 1024px;
$breakpoint-s: 768px;


:root {
    --grid-template-columns: repeat(4, 1fr) 0px repeat(4, 1fr);
    --grid-column-gap: 24px;
    
    --grid-column-left: 1 / 10;
    --grid-column-right: 1 / 10;
    --grid-column-all: 1 / 10;
    --grid-outer-gap-l: 32px;
    --grid-outer-gap-r: 16px;
        
    @media screen and (min-width: $breakpoint-s) {
        --grid-column-gap: 32px;
        
        --grid-column-left: 1 / 5;
        --grid-column-right: 6 / 10;
        --grid-column-all: 1 / 10;
        --grid-outer-gap-l: var(--grid-column-gap);
        --grid-outer-gap-r: var(--grid-column-gap);
    }
}

@mixin grid {
    display: grid;
    grid-template-columns: var(--grid-template-columns);
    grid-template-rows: auto;
    grid-column-gap: var(--grid-column-gap);
}


body {
/*
    margin-left:  32px; // Simulates gutters on outside of grid
    margin-right: 16px;
    
    @media screen and (min-width: $breakpoint-s) {
        margin-left: 24px;
        margin-right: 24px;
    }
*/
}