@import 'includes';

$breakpoint-m: 1024px;
$breakpoint-s: 768px;


.section {
//     grid-template-rows: auto;
    align-items: start;
    position: relative;
    z-index: 1;
    width: auto;
    @include grid;
    padding-left:  var(--grid-outer-gap-l); // Simulates gutters on outside of grid
    padding-right: var(--grid-outer-gap-r);
//     padding-bottom: 96px;

//     overflow: hidden;
    // Push down section so it doesn't collide with nav when scrolling to anchor
    --vertical-offset: 98px; 
    
    // Divider
    &:before {
        content: " ";
        grid-column: var(--grid-column-left);
        width: 100vw;
        margin-left: -8px;
        height: 8px;
        margin-top: var(--vertical-offset);
        top: 0;
//         margin-top: -8px;
        background-color: var(--gray-100);
        position: relative;
        
        @media screen and (min-width: $breakpoint-s) {
            width: 50vw;
            margin-left: 50vw;
            left: calc(-1 * var(--grid-outer-gap-l));
        }
    }
    
    // Gradient
    &:after {
        content: " ";
        grid-column: var(--grid-column-all);
        width: calc(var(--grid-outer-gap-l) - 8px);
        height: 100%; //256px;
        top: calc(var(--vertical-offset) + 8px);
        left: calc(-1 * var(--grid-outer-gap-l));
        position: absolute;
        z-index: -1;
        border-top: var(--border);
        
        @media screen and (min-width: $breakpoint-s) {
            width: 50vw;
        }
    }
    &:nth-child(even):after {
        background: var(--blue-gradient);
    }
    &:nth-child(odd):after {
        background: var(--red-gradient);
    }

    h1, h2, h3, h4, p, ol, ul, .button,
    section {
        grid-column: var(--grid-column-right);
    }
    
    section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: var(--grid-column-gap);
                
        >* {
            grid-column: 1 / 5;
        }
        
        img.inline {
            grid-column: 1 / 3;
            
            &.narrow {
                grid-column: 1 / 2;
            }
            
            &.wide {
                grid-column: 1 / 5;
            }
        }
    }
    
    figure {
        @include grid;
        grid-column: var(--grid-column-all);
        position: relative;
        border: 1px solid red;
        
        @media screen and (min-width: $breakpoint-s) {
            > img, > .image-set{ // Imgs are bottom aligned by default
                bottom: 0;
            }
            &.down {
                > img, > .image-set{
                    top: 0;
                    bottom: auto;
                }
            }
            &.mid {
                > img, > .image-set{
                    bottom: -10vw;
                }
            }
        }
        
        &.full-height {
            > img, .image-set {
                position: static !important;
            }
        }
        
        > img, .image-set {
            grid-column: var(--grid-column-left);
            
            @media screen and (min-width: $breakpoint-m) {
                grid-column: 1 / 4;
            }
            
            @media screen and (min-width: $breakpoint-s) {
                position: absolute;
                border: 1px solid blue;
            }
        }
        
        .image-set { // 2x2 grid layout
            grid-column: var(--grid-column-left);
            border: 1px solid green;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-row: 1 / 5;
        }
        
        figcaption {
            grid-column: var(--grid-column-right);
        }
        
    }
    
    img {
        width: 100%;
        height: auto;
    }
    
    >*:first-child { // This should always be an H2
        margin-top:calc(72px + var(--vertical-offset));
    }
    
    h2 {
        padding-top: 64px; // 96px baseline to baseline
    }
    
    h3 {
        padding-top: 32px; // 64px baseline to baseline
    }
    
    p, ol, ul {
        padding-top: 16px; // 48px baseline to baseline
    }
    
    figcaption {
        position: relative;
        
        @media screen and (min-width: $breakpoint-s) {
            // Arrow
            &:before {
                content: " ";
                position: absolute;
                left: -24px;
                top: 18px;
                height: 18px;
                width: 18px;
                display: block;
                
                -webkit-mask-image: url(/icons/arrow-left.svg);
                        mask-image: url(/icons/arrow-left.svg);
                -webkit-mask-repeat: no-repeat;
                        mask-repeat: no-repeat;
                -webkit-mask-size: 100% 100%;
                        mask-size: 100% 100%;
                -webkit-mask-position: left bottom;
                        mask-position: left bottom;
                background-color: var(--gray-100);
                
            }
        }
/*
        
        .text-arrow {
            width:24px;
            height:24px;
            position: absolute;
            left: -24px;
            top: 3px;
        }
*/
//         margin-bottom: 32px;
    }
    
    &#cover {
        --vertical-offset: 0px;
    }
    
    &#overview {
        margin-top: calc(var(--vertical-offset) * -1);
    }
}

