@import 'cursors';

#header {
    height: 100vh;
    .line_entry {
        height: 100%;
    }
    .line_entry > * {
        justify-content: center;
    }
    .line_entry .text {
        height: calc(100% - 200px);
    }

    h1 {
        // font-family: redaction-10;
        margin-top: 0em;
        margin-bottom: 0em;
        text-align: left;
    }
    h2 {
        margin: 0px;
        margin-top: 20px;
        margin-bottom: 29px;
        // font-family: redaction-20;
        text-align: left;
    }
    .authors {
        margin-top: 15px;
    }
    // .attribution {
    //     position: absolute;
    //     bottom: 0px;
    // }
    img.scroll_down {
        @extend .cursor-pointer;
        position: absolute;
        right: 0px;
        bottom: 16px;
        // width: 64px;
        height: 96px;
    }
    .index_nav {
        display: flex;
        flex-direction: column;
        left: calc(50vw + 16px);
        position: absolute;
        bottom: 16px;
    }
    .metadata {
        padding: 0px;
    }
    .navlink {
        display: flex;
        flex-direction: row;
        // float: left;
        text-transform: capitalize;
        .metadata {
            // float: left;
            width: 16px;
            margin-right: 5px;
        }
        .caption {
            
        }
    }
    .content {
        h4 {
            // width: 30vw;
            margin-top: 10px;
            max-width: 500px;
        }
        .slider {
            // margin-top: 20px;
            // width: 25vw;
            // max-width: 
            width: 300px;
        }
        .main_canvas  {
            max-height: 50vh;
        }
    }
    .slider_container {
        p { 
            margin-top: 15px;
            margin-bottom: 0px;
            display: flex;
            justify-content: center;
        }
        img {
            margin-left: 3px;
        }
    }
}
