@import 'colors';

nav {
    margin-left: 50vw;
    width: 50vw;
    position: sticky;
    top: -1px; // So that browser can tell when nav is at top of view
    height: 0;
    margin-top: 100vh;
    margin-bottom: -100vh;
    z-index: 2;
    --nav-box-shadow-size: 0;
    
    &.atTop {
        --nav-box-shadow-size: 8px
    }
    
    ol {
        position: relative;
        overflow: hidden; // Hide excess shadow
        z-index: 2; // Keep above main text
        padding-bottom: 32px; // Ensure that shadow is visible
        padding-top: 1px;
        
        column-count: 4;
        column-rule: 1px solid var(--gray-100);
        column-gap: 0;
        
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: -32px;
            bottom: 32px;
            right: -64px;
            background-color: var(--gray-10);
            border-bottom: 1px solid var(--gray-100);
            //         background: red;
            z-index: -1;
            box-shadow: 0px var(--nav-box-shadow-size) var(--nav-box-shadow-size) var(--gray-100);
            transition: box-shadow .25s cubic-bezier(0.25, 1, 0.5, 1);
        }
        
        li.navlink {
            text-indent: 32px;
            mix-blend-mode: multiply;
            
            &.active, &.active a {
                color: var(--gray-10);
                background-color: var(--gray-100);
            }
            a {
                display: block;
                position: relative;
                text-transform: capitalize;
                border-bottom-color: transparent;
                
                &:hover {
                    border-bottom-color: var(--gray-100);
                }
            }
        }
    }
}
