@import 'cursors';
@import 'colors';
input[type='range'] {
  border: 1px solid var(--gray-100);
  @extend .cursor-pointer;
  outline: none;
}
/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    overflow: hidden;
    width: 100%;
    max-width: 450px;
    -webkit-appearance: none;
    // background-color: #9a905d;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 20px;
    -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px;
  }
  
  input[type='range']::-webkit-slider-thumb {
    width: 20px;
    -webkit-appearance: none;
    height: 20px;
    background: var(--gray-100);
    box-shadow: -1000px 0 0 1000px var(--yellow-50);
    // cursor: ew-resize;
    cursor: url('/icons/cursor-resize-horizontal-wide.svg') 16 16, auto;
    // @extend .cursor-resize-horizontal;
  }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: var(--yellow-50); 
}
// input[type="range"]::-moz-range-track {  
// background-color: var(--yellow-50);
// }
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: var(--yellow-50); 
}
input[type="range"]::-ms-fill-upper {  
// background-color: #9a905d;
}

// .slider {
//   -webkit-appearance: none;
//   width: 100%;
//   height: 15px;
//   border-radius: 5px;
//   background: #d3d3d3;
//   outline: none;
//   opacity: 0.7;
//   -webkit-transition: .2s;
//   transition: opacity .2s;
// }

// .slider::-webkit-slider-thumb {
//   -webkit-appearance: none;
//   appearance: none;
//   width: 25px;
//   height: 25px;
//   border-radius: 50%;
//   background: black;
//   // @extend .cursor-pointer;
//   cursor: url('/icons/cursor-pointer.svg'), url('https://joels-share.s3.amazonaws.com/antimander_blog/icons/cursor-pointer.svg'), auto !important;
// }

// .slider::-moz-range-thumb {
//   width: 25px;
//   height: 25px;
//   border-radius: 50%;
//   background: black;
//   // @extend .cursor-pointer;
//   cursor: url('/icons/cursor-pointer.svg'), url('https://joels-share.s3.amazonaws.com/antimander_blog/icons/cursor-pointer.svg'), auto !important;
// }
