@import 'cursors';
@import 'colors';

:root {
    font-variant-ligatures: contextual;
    -moz-font-feature-settings: "calt";
    -webkit-font-feature-settings: "calt";
    font-feature-settings: "calt";
}

.redaction { font-family: redaction; }
.redaction-10 { font-family: redaction-10; }
.redaction-20 { font-family: redaction-20; }
.redaction-35 { font-family: redaction-35; }
.redaction-50 { font-family: redaction-50; }
.redaction-70 { font-family: redaction-70; }
.redaction-100 { font-family: redaction-100; }

h1,h2,h3,h4,p,a {
    font-weight: 400;
    @extend .cursor-text;
    &::-moz-selection { background: #FBF7BF; }
    &::selection { background: #FBF7BF; }
}

a {
    @extend .cursor-pointer;
    cursor: url('/icons/cursor-pointer.svg'), url('https://joels-share.s3.amazonaws.com/antimander_blog/icons/cursor-pointer.svg'), auto;
    color: var(--gray-100);
    text-decoration: none;
    // display: block;
    border-bottom: 1px solid;
    
    &:hover {
        color: black;
        background-color: var(--yellow-50);
        // font-family: redaction-100; 
        // color: white;
        // background-color: black;
    }
}

h1,h2,h3,h4,h5 {
    font-style: italic;
    font-family: redaction-35; 
    
}

.italic {
    font-style: italic;
}

h1 {
    font-size: 72px;
    line-height: 72px;
}
h2 {
    font-size: 48px;
    line-height: 48px;
}
h3 {
    font-size: 36px;
    line-height: 40px;
}
h4 {
    font-size: 24px;
    line-height: 32px;
}
h5 {
    font-size: 24px;
    line-height: 32px;
}
p {
    font-size: 24px;
    line-height: 32px;
}
.caption {
    font-size: 18px;
    line-height: 24px;
}
.metadata {
    font-size: 18px;
    line-height: 24px;
    font-family: vg5000;
}
// p.small {
//     font-size: 12px;
//     line-height: 16px;
// }


.text-arrow {
    width:24px;
    height:24px;
    position: absolute;
    left: -24px;
    top: 8px;
}