@import 'cursors';
@import 'colors';

h1,h2,h3,h4,p,a {
    font-weight: 400;
    @extend .cursor-text;
    &::-moz-selection { background: #FBF7BF; }
    &::selection { background: #FBF7BF; }
}

a {
    @extend .cursor-pointer;
    cursor: url('/icons/cursor-pointer.svg'), url('https://joels-share.s3.amazonaws.com/antimander_blog/icons/cursor-pointer.svg'), auto;
}

h1,h2,h3,h4,h5 {
    font-style: italic;
}

.italic {
    font-style: italic;
}

h1 {
    font-size: 72px;
    line-height: 72px;
}
h2 {
    font-size: 48px;
    line-height: 48px;
}
h3 {
    font-size: 36px;
    line-height: 40px;
}
h4 {
    font-size: 24px;
    line-height: 32px;
}
h5 {
    font-size: 22px;
    line-height: 24px;
}
p {
    font-size: 22px;
    line-height: 26px;
}
p.small {
    font-size: 12px;
    line-height: 16px;
}

a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid;
    &:hover {
        color: white;
        font-family: redaction-100; 
        background-color: black;
    }
}
.text-arrow {
    width:16px;
    height:16px;
    position: absolute;
    left: -20px;
    top: 8px;
}