@import 'cursors';

.parcoords > svg, .parcoords > canvas {
    font-family: redaction;
}
.parcoords {
    text-transform: capitalize;
}


.viewer_row {
    width: 100%;
    display: inline-block;
    .district-viewer, .district-text {
        display:  inline-block;
    }
    .district-viewer {
        text-align: center;
        top: 0px;
        left: 0vw;
        width: 50%;
        height: 50%;
        //  calc(50% - 4vw);
        .parcoords {
            text-align: initial;
            width:100%;
            height:200px;
            margin-top: 10px;
            margin-bottom: 10px;
            // background-color: transparent;
        }
        canvas.main_canvas {
            width: 100%;
            max-width: calc(100vh - 300px);
            // cursor: pointer;
            @extend .cursor-pointer;
        }
        .padding {
            height: 20px;
        }
        .view_count {
            font-size: 1.3em;
            opacity: 0.8;
        }
        img.legend {

            width: 100%;
            max-width: 500px;
        }
    }
    .district-text {
        width: calc(50% - 40px);
        vertical-align: top;
        float: right;
        padding-top: 50vh;
        padding-bottom: 30vh;

        .district-text-inner  {
            max-width: 400px;
            float: left;
        }
        .scroll_block {
            margin-top: 150px;
            margin-bottom: 150px;
            padding: 25px;
            text-align: center;
            p {
                text-align: left;
            }
            border-left: 1px solid rgba(0, 0, 0, 0.0);
        }
        .scroll_block.block_focus {
            border-left: 1px solid;
        }
        .scroll_block img {
            max-width: 100%;
        }
    }
}

@media only screen and (max-width: 800px) {
    .viewer_row {
        .district-viewer {
            // left: 10px;
            // width: calc(100% - 20px);
            width: 100%;
            z-index: 2;
            // background-color: white;
            canvas.main_canvas {
                width: 80vw;
            }
            .header {
                margin: 0.2em;
                font-size: 1.6em;
            }
            .parcoords {
                height:150px;
            }
            .padding {
                height: 0px;
            }
            .view_count {
                display: none;
            }
        }
        .district-text {
            width: 100%;
            padding-bottom: 0vh;
            .district-text-inner  {
                max-width: 100%;
                padding: 10%;
            }
        }
    }
}