@import 'cursors';
@import 'colors';


// Chrome requires that scroll snapping be applied to <html>
// @media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    html {
        scroll-snap-type: y proximity;
//         scroll-padding-top: 128px;
        
        * {
            scroll-snap-type:   none; 
            scroll-snap-align:  none;
        }
    }
// }

// Safari requires that scroll snapping be applied to <body>
@media not all and (min-resolution:.001dpcm) { 
    body {
        scroll-padding-top: 48px;
//         scroll-snap-stop: never;
//         scroll-snap-align:  none;
        
//         overflow-y: scroll;
        
        
//         &.cover-off-screen {
//             scroll-snap-type: y proximity;
//             &.scroll-snap {
                scroll-snap-type: y proximity;
//             }
//         }
        
        * {
            scroll-snap-type:   none; 
            scroll-snap-align:  none;
        }
    }
}



.viewer-track {
//     height: 100vh;
    grid-column: var(--grid-column-left);
    border: 1px solid lime;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 64px;
//     @include grid;
    
    .viewer-container {
        height: 500px;
        width: 100%;
        background: magenta;
        position: sticky;
        top: 128px;
/*         grid-column: var(--grid-column-left); */
        
    }
}

.section.viewer {
    padding-bottom: 512px; // Extra space so sticky viewer stays on screen
/*
    scroll-snap-type: y mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-padding-top: 64px;
    overflow: scroll;
*/
    
    section.scroll-block {
        scroll-snap-align: start !important;
        scroll-snap-stop: always !important;
        scroll-margin-top: 112px;
    }
    section.scroll-block {
//         margin-top: -48px;
        margin-bottom: 128px;
        transition: var(--motion-duration-med) var(--motion-easing);
        transition-property: filter opacity;
        
        p {
            position: relative;
        }
        
        &.focused {
            opacity: 1;
        }
        
        &.defocused:not(:nth-child(2))/* , &.defocused * */ {
            opacity: .125;
            filter: saturate(0);
            font-family: redaction-100;
//             color: var(--gray-40);
//             border-color: var(--gray-40);
            
            img {
//                 opacity: .25;
            }
            
            p:first-of-type:before {
                opacity: 0;
            }
            
        }
        
        &:nth-child(2) {
            margin-top: 112px;
        }
        
        p:first-of-type:before {
            content: " ";
            position: absolute;
            left: -24px;
            top: 24px;
            height: 18px;
            width: 18px;
            display: block;
            z-index: 2000;
            
            -webkit-mask-image: url(/icons/arrow-right.svg);
                    mask-image: url(/icons/arrow-right.svg);
            -webkit-mask-repeat: no-repeat;
                    mask-repeat: no-repeat;
            -webkit-mask-size: 100% 100%;
                    mask-size: 100% 100%;
            -webkit-mask-position: left bottom;
                    mask-position: left bottom;
            background-color: var(--gray-100);
            opacity: 1;
                        
            transition: var(--motion-duration-med) var(--motion-easing);
            transition-property: opacity;
            
        }
        
    }
    
    h2 {
//         scroll-margin-top: 128px;
    }
}


/*
.viewer_row {
    width: 100%;
    display: inline-block;
    .district-viewer, .district-text {
        display:  inline-block;
    }
    .district-viewer {
        text-align: center;
        top: 0px;
        left: 0vw;
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        //  calc(50% - 4vw);
        .parcoords {
            text-transform: capitalize;
            text-align: initial;
            width:100%;
            height:200px;
            margin-bottom: 20px;
        }
        canvas.main_canvas {
            // width: 100%;
            // max-width: calc(100vh - 300px);
            max-width: 85%;
            // cursor: pointer;
            @extend .cursor-pointer;
        }
        .padding {
            height: 20px;
        }
        .view_count {
            font-size: 1.3em;
            opacity: 0.8;
        }
        img.legend {

            width: 100%;
            max-width: 500px;
        }
    }
    .district-text {
        width: 50%;
        padding-left: 32px;
        padding-right: 32px;
        vertical-align: top;
        float: right;
        padding-top: 50vh;
        padding-bottom: 30vh;
        border-bottom: 8px solid;
        .district-text-inner  {
            max-width: 600px;
            float: left;
            
            h1, h2, h3, h4, p {
                text-align: left;
            }
        }
        .scroll_block {
            margin-top: 150px;
            margin-bottom: 150px;
            padding: 25px;
            text-align: center;
            p {
                text-align: left;
            }
            border-left: 1px solid rgba(0, 0, 0, 0.0);
        }
        .scroll_block.block_focus {
            // border-left: 1px solid;
            background-color: var(--yellow-30);
            border-radius: 3px;
            @extend .shadow;
        }
        .scroll_block img {
            max-width: 100%;
        }
    }
}
*/
@media only screen and (max-width: 1400px) {
    .viewer_row {
        .district-viewer {
            canvas.main_canvas {
                max-width: 96%;
            }
        }
    }

        //   
}

// @media only screen and (max-width: 800px) {
//     .viewer_row {
//         .district-viewer {
//             // left: 10px;
//             // width: calc(100% - 20px);
//             width: 100%;
//             z-index: 2;
//             // background-color: white;
//             canvas.main_canvas {
//                 width: 80vw;
//             }
//             .header {
//                 margin: 0.2em;
//                 font-size: 1.6em;
//             }
//             .parcoords {
//                 height:150px;
//             }
//             .padding {
//                 height: 0px;
//             }
//             .view_count {
//                 display: none;
//             }
//         }
//         .district-text {
//             width: 100%;
//             padding-bottom: 0vh;
//             .district-text-inner  {
//                 max-width: 100%;
//                 padding: 10%;
//             }
//         }
//     }
// }