@import "_reset";
@import 'slider';
@import 'sections';
@import 'viewer_row';
@import 'includes';
@import 'nav';
@import 'text';
@import 'cursors';
@import 'hover_link';
@import 'line_entry';
@import 'colors';

* {
    box-sizing: border-box;
}

html, body {
    @extend .cursor-arrow;
    font-family: redaction;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    padding: 0px;
    margin: 0px;
    background-color: var(--gray-10);
    color: var(--gray-100);
}

.index_nav .navlink {
    margin: .5em;
    margin-left: 0em;
}


.section:nth-child(odd) .left_col {
    @extend .blue2white;
}
.section:nth-child(even) .left_col {
    @extend .red2white;
}

.main_canvas  {
    // width: min(50vw, 30vh);
    max-height: 50vh;
}

.section {
    position: relative;
    z-index: 1;
    min-height: 30vh;
    .section_header {
        text-transform: capitalize;
    }
    .left_col, .right_col {
        position: absolute;
        z-index: -1;
        top: 0px;
        width: 50vw;
        height: 100%;
    }
    .left_col {
        left: 0px;
        border-right: 1px solid var(--gray-100);
    }
    .right_col {
        right: 0px;
        border-bottom: 8px solid var(--gray-100);
    }
}

.section#header {
    .right_col {
        right: 0px;
        border-top: 8px solid black;
    }
}


.compactness_tile_container {
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .compactness_tile {
        display: inline-flex;
        flex-direction: column;
        max-width: calc(50% - 22px);
        vertical-align: top;
        padding-left: 10px;
        padding-right: 10px;
        flex-shrink: 0;
        p {
            text-align: center !important;
        }
        h4 {
            margin-top: 0px;
        }
        img {
            width: 100%;
        }
    }
}

.github-button {
    position: relative;
    display: table;
    left: -8px;
    border-radius: 21px;
    @extend .cursor-pointer;
    background-color: var(--yellow-50);
    width: fit-content;
    border: 1px solid var(--gray-100);
    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 8px;
    svg {
        height: 20px;
        transform: rotate(45deg);
        bottom: -2px;
        margin-left: 2px;
        position: relative;
    }
    h4 {
        display: inline-block;
        margin: 0px;
        @extend .cursor-pointer;
    }
    &:hover {
        color: var(--gray-10);
        background-color: var(--gray-100);
        border: 1px solid var(--gray-100);
        fill: var(--gray-10);
        // @extend .shadow;
    }
}

.github_row {
    // display: flex;
    .github {
        width: 30%;
        display: inline-flex;
        a {
            font-size: 22px;
            margin-left: 5px;
        }
        img {
            height: 32px;
        }
    }
    padding-bottom: 20px !important;
}

.card {
    width: 500px;
    padding: 16px !important;
    @extend .shadow;
    @extend .background;
    h3 {
        margin-top:0px;
        margin-bottom: 16px;
    }
}

// @media only screen and (max-width: 1000px) {
//     .viewer_row {
//         .district-viewer {
//             width: calc(60% - 20px);
//         }
//         .district-text {
//             width: calc(40% - 20px);
//         }
//     }
// }

@media only screen and (max-width: 800px) {

    #header-container {
        h1 {
            font-size: 3.4em;
            margin: 0.2em;
        }
    }

    p {
        font-size: 1.2em;
    }
    p.small {
        font-size: 1.0em;
    }
    .col2 {
        width: 100%;
    }
    .tag {
        width: 150px;
        font-size: 1.0em;
    }

    .line_entry {
        width: 100%;
        flex-direction: column-reverse;
        // display: flex;
        .content {
            width: 100%;
        
        }
        .text {
            width: 100%;
            background-color: white;
        }
    }
    
    


}