@import 'slider';
@import 'viewer_row';
@import 'includes';
@import 'section_nav';
@import 'text';
@import 'cursors';

* {
    box-sizing: border-box;
}

html, body {
    @extend .cursor-arrow;
    font-family: redaction;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    padding: 0px;
    margin: 0px;
}

.zoomable {
    @extend .cursor-pointer;
    &:hover {
        z-index:3;
        transform: scale(1.4);
        opacity: 1.0 !important;
        background-color: white !important;
        border-radius: 3px;
    }
}

.index_nav .navlink {
    margin: .5em;
    margin-left: 0em;
}

// .navlink:hover a {
//     color: white;
// }


h1:hover, a:hover {
    // font-family: redaction-50;
}

.blue2white {
    // background: linear-gradient(to bottom, #1F47CD, #1069EC, #007BFF,
    //                             #008FFF, #019EFF, #1EADFF, #57BDFF,
    //                             #8DD0FF, #BBE2FD, #E3F4FF)
    background: linear-gradient(to bottom, #fcfbf7, #007bff 1%, #fcfbf7);
}

.red2white {
    // background: linear-gradient(to bottom, #C30011, #d10420, #DE1427,
    //                             #F0232D, #FF312D, #F9474A, #EE6D6F,
    //                             #F69798, #FFCBD1, #FFEAEE)
    background: linear-gradient(to bottom, #fcfbf7, #ff312d 1%, #fcfbf7);
}

.section {
    position: relative;
    z-index: 1;
    min-height: 30vh;
    .section_header {
        text-transform: capitalize;
    }
    .left_col, .right_col {
        position: absolute;
        z-index: -1;
        top: 0px;
        width: 50vw;
        height: 100%;
    }
    .left_col {
        left: 0px;
    }
    .right_col {
        right: 0px;
        border-bottom: 8px solid black;
    }
}

.section#header {
    .right_col {
        right: 0px;
        border-top: 8px solid black;
    }
}

// .section:nth-child(even)
.left_col {
    background: linear-gradient(
        to bottom,
        hsl(203.06, 100%, 50%) 0%,
        hsl(210.84, 98.51%, 69.86%) 6.3%,
        hsl(212.89, 96.33%, 77.08%) 12.2%,
        hsl(214.05, 93.41%, 82%) 17.8%,
        hsl(214.77, 89.66%, 85.67%) 23.1%,
        hsl(215.22, 84.92%, 88.5%) 28.4%,
        hsl(215.45, 79.02%, 90.72%) 33.6%,
        hsl(215.49, 71.8%, 92.47%) 39%,
        hsl(215.32, 63.13%, 93.85%) 44.6%,
        hsl(214.83, 52.95%, 94.93%) 50.5%,
        hsl(213.8, 41.33%, 95.77%) 57%,
        hsl(211.5, 28.44%, 96.43%) 64%,
        hsl(204.04, 14.4%, 96.94%) 71.6%,
        hsl(107.4, 4.4%, 97.45%) 80.1%,
        hsl(51.49, 18.27%, 97.71%) 89.6%,
        hsl(45, 40%, 98.04%) 100%
    );
    // background: linear-gradient(to bottom, #fcfbf7, #007bff 1%, #fcfbf7);
}
// .section:nth-child(odd) .left_col {
//     // background: linear-gradient(to bottom, #fcfbf7, #007bff 1%, #fcfbf7);
//     background: linear-gradient(to bottom, #fcfbf7, #fd7373 1%, #fcfbf7);
// }

#derp {
    position: fixed;
    z-index: 0;
    top: 0px;
    width: 100vw;
    .col2 {
        // background: linear-gradient(to bottom, var(--color-red), var(--color-blue));
        // height: 100vh;
    }
}

#header {
    height: 100vh;
    h1 {
        font-family: redaction-10;
        margin-top: 0em;
        margin-bottom: 0em;
        text-align: left;
    }
    .slider {
        margin-top: 20px;
        width: 25vw;
    }
    h2 {
        font-family: redaction-20;
        text-align: left;
    }
    .attribution {
        position: absolute;
        bottom: 0px;
    }
}

#header-container {
    color:white;
    h1 {
        letter-spacing: .08em;
        font-size: 5.5em;
        margin: 0px;
    }
    a {
        color: white;
    }
    .main-heading {
        img {
            max-width: 900px;
        }
    }
}

.flex-col {
    flex: 1;
    padding: 16px;
  }

.line_entry {
    width: 100%;
    display: flex;
    justify-content: center;
    
    .content,.text {
        max-width: 800px;
    }
    .text p,h1,h2 {
        max-width: 600px;
    }
    .content {
        @extend .col2;
        padding-left: 32px;
        padding-right: 32px;
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;

        img,canvas {
            max-width: calc(100%);
            max-height: calc(100%);
        }
        img.medium-img {
            width: 450px;
        }
        p {
            text-align: center;
        }
        .background {
            background-color:#ffffffb5;
            border-radius:5px;
            padding: 5px;
        }
    }
    .text {
        @extend .col2;
        // @extend .flex-col;
        
        padding-left: 32px;
        padding-right: 32px;
        // padding-bottom: 32px;
        text-align: justify;
        h2,h3,h4 {
            text-align: left;
        }
        p {
            margin-top: 0px;
        }
    }
}

.compactness_tile_container {
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    .compactness_tile {
        display: inline-block;
        width: calc(50% - 22px);
        vertical-align: top;
        padding-left: 10px;
        padding-right: 10px;
        flex-shrink: 0;
        p {
            text-align: center !important;
        }
        h4 {
            margin-top: 0px;
        }
        // &:nth-child(1) {
        //     border-bottom: 1px dashed;
        //     border-right: 1px dashed;
        // }
        // &:nth-child(2) {
        //     border-bottom: 1px dashed;
        // }
        // &:nth-child(3) {
        //     border-right: 1px dashed;
        //     border-bottom: 1px dashed;
        // }
        // &:nth-child(4) {
        //     border-bottom: 1px dashed;
        // }
    }
}



.outer-text-container {
    width: 100%;
    text-align: center;
    .inner-text-container {
        width: 100%;
        max-width: 900px;
        display: inline-block;

        p {
            text-align: justify;
            padding-left: 10px;
            padding-right: 10px;
        }
        img {
            text-align: center;
            width: 100%;
            max-width: 700px;
        }
    }
    .inner-text-container.wide {
        max-width: 1200px;
        // max-width: 290%
    }
}

.github_row {
    // display: flex;
    .github {
        width: 30%;
        display: inline-flex;
        a {
            font-size: 22px;
            margin-left: 5px;
        }
        img {
            height: 32px;
        }
    }
    padding-bottom: 20px !important;
}

.card {
    width: 500px;
    padding: 16px !important;
    @extend .shadow;
    @extend .background;
    h3 {
        margin-top:0px;
        margin-bottom: 16px;
    }
}

// @media only screen and (max-width: 1000px) {
//     .viewer_row {
//         .district-viewer {
//             width: calc(60% - 20px);
//         }
//         .district-text {
//             width: calc(40% - 20px);
//         }
//     }
// }

@media only screen and (max-width: 800px) {

    #header-container {
        h1 {
            font-size: 3.4em;
            margin: 0.2em;
        }
    }

    p {
        font-size: 1.2em;
    }
    p.small {
        font-size: 1.0em;
    }
    .col2 {
        width: 100%;
    }
    .tag {
        width: 150px;
        font-size: 1.0em;
    }

    .line_entry {
        width: 100%;
        flex-direction: column-reverse;
        // display: flex;
        .content {
            width: 100%;
        
        }
        .text {
            width: 100%;
            background-color: white;
        }
    }
    
    


}