@import 'slider';
@import 'sections';
@import 'viewer_row';
@import 'includes';
@import 'section_nav';
@import 'text';
@import 'cursors';
@import 'hover_link';
@import 'line_entry';

* {
    box-sizing: border-box;
}

html, body {
    @extend .cursor-arrow;
    font-family: redaction;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    padding: 0px;
    margin: 0px;
    background-color: var(--gray-10);
    color: var(--gray-100);
}

.index_nav .navlink {
    margin: .5em;
    margin-left: 0em;
}

// .navlink:hover a {
//     color: white;
// }


h1:hover, a:hover {
    // font-family: redaction-50;
}

.blue2white {
    background: linear-gradient(
        to bottom,
        hsl(203.06, 100%, 50%) 0%,
        hsl(210.84, 98.51%, 69.86%) 6.3%,
        hsl(212.89, 96.33%, 77.08%) 12.2%,
        hsl(214.05, 93.41%, 82%) 17.8%,
        hsl(214.77, 89.66%, 85.67%) 23.1%,
        hsl(215.22, 84.92%, 88.5%) 28.4%,
        hsl(215.45, 79.02%, 90.72%) 33.6%,
        hsl(215.49, 71.8%, 92.47%) 39%,
        hsl(215.32, 63.13%, 93.85%) 44.6%,
        hsl(214.83, 52.95%, 94.93%) 50.5%,
        hsl(213.8, 41.33%, 95.77%) 57%,
        hsl(211.5, 28.44%, 96.43%) 64%,
        hsl(204.04, 14.4%, 96.94%) 71.6%,
        hsl(107.4, 4.4%, 97.45%) 80.1%,
        hsl(51.49, 18.27%, 97.71%) 89.6%,
        hsl(45, 40%, 98.04%) 100%
    );
    // background: linear-gradient(to bottom, #1F47CD, #1069EC, #007BFF,
    //                             #008FFF, #019EFF, #1EADFF, #57BDFF,
    //                             #8DD0FF, #BBE2FD, #E3F4FF)
    // background: linear-gradient(to bottom, #fcfbf7, #007bff 1%, #fcfbf7);
}

.red2white {
    background: linear-gradient(
        to bottom,
        hsl(358.98, 93.65%, 62.94%) 0%,
        hsl(359.27, 93%, 67.97%) 2.4%,
        hsl(359.62, 92.21%, 72.56%) 5%,
        hsl(0.08, 91.23%, 76.67%) 7.8%,
        hsl(0.65, 90.07%, 80.23%) 11%,
        hsl(1.39, 88.63%, 83.4%) 14.6%,
        hsl(2.36, 86.8%, 86.2%) 18.8%,
        hsl(3.66, 84.46%, 88.63%) 23.7%,
        hsl(5.44, 81.48%, 90.73%) 29.3%,
        hsl(7.9, 77.67%, 92.5%) 35.9%,
        hsl(11.38, 72.85%, 93.95%) 43.4%,
        hsl(16.3, 66.98%, 95.11%) 52.1%,
        hsl(23.06, 60.3%, 95.99%) 62%,
        hsl(31.45, 53.65%, 96.59%) 73.2%,
        hsl(39.42, 48.57%, 96.94%) 85.8%,
        hsl(42.86, 46.67%, 97.06%) 100%
    );
    // background: linear-gradient(to bottom, #C30011, #d10420, #DE1427,
    //                             #F0232D, #FF312D, #F9474A, #EE6D6F,
    //                             #F69798, #FFCBD1, #FFEAEE)
    // background: linear-gradient(to bottom, #fcfbf7, #ff312d 1%, #fcfbf7);
}


.section:nth-child(odd) .left_col {
    @extend .blue2white;
}
.section:nth-child(even) .left_col {
    @extend .red2white;
}

.main_canvas  {
    // width: min(50vw, 30vh);
    max-height: 50vh;
}

.section {
    position: relative;
    z-index: 1;
    min-height: 30vh;
    .section_header {
        text-transform: capitalize;
    }
    .left_col, .right_col {
        position: absolute;
        z-index: -1;
        top: 0px;
        width: 50vw;
        height: 100%;
    }
    .left_col {
        left: 0px;
    }
    .right_col {
        right: 0px;
        border-bottom: 8px solid black;
    }
}

.section#header {
    .right_col {
        right: 0px;
        border-top: 8px solid black;
    }
}


.compactness_tile_container {
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    .compactness_tile {
        // @extend .zoomable;
        display: inline-block;
        width: calc(50% - 22px);
        vertical-align: top;
        padding-left: 10px;
        padding-right: 10px;
        flex-shrink: 0;
        p {
            text-align: center !important;
        }
        h4 {
            margin-top: 0px;
        }
        // &:nth-child(1) {
        //     border-bottom: 1px dashed;
        //     border-right: 1px dashed;
        // }
        // &:nth-child(2) {
        //     border-bottom: 1px dashed;
        // }
        // &:nth-child(3) {
        //     border-right: 1px dashed;
        //     border-bottom: 1px dashed;
        // }
        // &:nth-child(4) {
        //     border-bottom: 1px dashed;
        // }
    }
}

.github-button {
    border-radius: 21px;
    @extend .cursor-pointer;
    background-color: var(--yellow-50);
    width: fit-content;
    border: 1px solid;
    padding-left: 6px;
    padding-right: 6px;
    img {
        height: 20px;
        transform: rotate(45deg);
        bottom: -2px;
        margin-left: 2px;
        position: relative;
    }
    h4 {
        display: inline-block;
        margin: 0px;
        @extend .cursor-pointer;
    }
    &:hover {
        color: var(--yellow-50);
        background-color: var(--gray-100);
        border: 1px solid var(--gray-100);
        // @extend .shadow;
    }
}

.github_row {
    // display: flex;
    .github {
        width: 30%;
        display: inline-flex;
        a {
            font-size: 22px;
            margin-left: 5px;
        }
        img {
            height: 32px;
        }
    }
    padding-bottom: 20px !important;
}

.card {
    width: 500px;
    padding: 16px !important;
    @extend .shadow;
    @extend .background;
    h3 {
        margin-top:0px;
        margin-bottom: 16px;
    }
}

// @media only screen and (max-width: 1000px) {
//     .viewer_row {
//         .district-viewer {
//             width: calc(60% - 20px);
//         }
//         .district-text {
//             width: calc(40% - 20px);
//         }
//     }
// }

@media only screen and (max-width: 800px) {

    #header-container {
        h1 {
            font-size: 3.4em;
            margin: 0.2em;
        }
    }

    p {
        font-size: 1.2em;
    }
    p.small {
        font-size: 1.0em;
    }
    .col2 {
        width: 100%;
    }
    .tag {
        width: 150px;
        font-size: 1.0em;
    }

    .line_entry {
        width: 100%;
        flex-direction: column-reverse;
        // display: flex;
        .content {
            width: 100%;
        
        }
        .text {
            width: 100%;
            background-color: white;
        }
    }
    
    


}