:root {
    // --cover-header-height: 96px;
}
article {
    // Extra gradient under header
    &:before {
        content: "";
        top: 0;
/*         left: calc(var(--grid-column-gap) * -1); */
        width: 100vw;
        height: 96px;
        position: absolute;
        background-image: var(--red-gradient);
        
        @media screen and (min-width: $bp-single-col) {
            width: 50vw;
        }
    }
}
.section#cover {
    min-height: 100vh;
    @include grid;
    margin-top: 0;
    padding-bottom: 128px; // Prevent bottom of cover from being covered by nav
    
    &:before {
        display: none;
    }
    
    &:after {
        top: 96px;
        border-top: none;
    }
    
    figure.canvas-container {
        grid-column: var(--grid-column-left);
        border: none;
        display: block;
        height: 100%;
        
        @media screen and (min-width: $bp-single-col) {
            grid-row: 2 / 10;
        }
    }
    
    h1, h2, author {
        grid-column: var(--grid-column-right);
    }
    
    h2 {
        padding-top: 160px;
    }
    
    h1 {
        padding-top: 24px;
    }
    
}