:root {
    // --cover-header-height: 96px;
}
article {
    // Extra gradient under header
    &:before {
        content: "";
        top: 0;
        width: 100vw;
        height: 96px;
        position: absolute;
        background-image: var(--red-gradient);
        
        @media screen and (min-width: $bp-single-col) {
            width: 50vw;
        }
        
        @media screen and (min-width: $bp-max) {
            left: 0;
        }

    }
}
.section#cover {
    min-height: 100vh;
    @include grid;
    margin-top: 0;
    padding-bottom: 128px; // Prevent bottom of cover from being covered by nav
    > *:first-child {
        padding-top: calc(32px + var(--vertical-offset));
    }
    &:before {
        display: none;
    }
    
    &:after {
        top: 96px;
        border-top: none;
    }
    
    .contents {
          grid-column: var(--grid-column-right);
        display: block;
        z-index:99999;
        position: relative;
    }
    
    .logotype {
    }

    .tagline {
        padding-top: 32px;
    }
    
    .button {
        margin-top: 16px;
    }
    
    .metadata {
        margin-top: 16px;
    }
    
}