:root {
    --symbol-width: calc(var(--grid-column-gap) * 2);
    --header-height: var(--grid-column-gap);
}

body.cover-off-screen {
    header, nav {
        @media screen and (max-width: $bp-single-col) {
            --menu-hide-offset: -320px;
            top: var(--menu-hide-offset); // Hide on scroll
            
            .menu-inner {
                transition: transform var(--motion-duration-med) var(--motion-easing);
                
                &.open {
                    transform: translateY(calc(var(--menu-hide-offset) * -1));
                }
            }
            
/*
            &.not-sticky {
                .menu-inner.open {
                    transform: translateY(0);
                }
            }
*/
        }

    }
}

header, nav {
    @media screen and (min-width: $bp-single-col) {
        top: -1px;
        
        .menu-inner, .menu-inner.open {
            transform: translateY(0);
        }
    }
}

nav {
    --nav-margin-top: calc(var(--overview-offset-top) - 8px);
    position: sticky;
    height: 0;
    left: 0;
    right: 0;
    margin-top: var(--nav-margin-top);
    margin-bottom: calc(var(--nav-margin-top) * -1);
    z-index: 3;
    display: block;
    --box-shadow-size: 0;
    
    transform: translateY(0);
    transition: transform var(--motion-duration-fast) var(--motion-easing);
    
    
    @media screen and (min-width: $bp-single-col) {
        width: 50vw;
        left: 50vw;        
    }
    
    &.sticky {
        --box-shadow-size: 4px;
    }
        
    ol {
        padding-right:  var(--grid-outer-gap-l); // Simulates gutters on outside of grid
        
        position: relative;
        overflow: hidden; // Hide excess shadow
        z-index: 2; // Keep above main text
        padding-bottom: 32px; // Ensure that shadow is visible
        padding-top: 8px;
        
        column-count: 1;
        column-rule: 1px solid var(--gray-50);
        column-gap:0px;
        
        top: calc((var(--header-height) * 2) + 0px);
        
        @media screen and (min-width: $bp-single-col) {
            column-count: 2;
            top: calc(var(--header-height) + 1px);
        }
        
        @media screen and (min-width: $bp-wide) {
            column-count: 4;
        }
        
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: -32px;
            bottom: 24px;
            right: -64px;
            background-color: var(--gray-10);
            z-index: -1;
            border-bottom: var(--border);
            box-shadow: var(--box-shadow);
            box-shadow: 0px var(--box-shadow-size) calc(2 * var(--box-shadow-size)) var(--gray-100);
            transition: box-shadow .25s cubic-bezier(0.25, 1, 0.5, 1);
        }
        
        li.navlink {
//             border: 1px solid blue;
//             overflow: visible !important;
//             text-indent: 32px;
            mix-blend-mode: multiply;
/*             border-right: var(--border); */
//             position: relative;
/*             margin-left: calc(var(--grid-column-gap) * -1); */

            &:before {
                // Override some of the standard ol behavior
                position: relative;
                left: 8px;
                float: left;
            }
            
            &.current a {
/*                 color: var(--gray-10); */
/*                 background-color: var(--gray-100); */
                background-color: var(--yellow-70);
                border-bottom-color: var(--gray-100);
            }
            
            a {
                display: block;
                position: relative;
                text-transform: capitalize;
                border-bottom-color: transparent;
                padding: 0 32px;
                white-space: nowrap;
                
                &:hover {
//                     border-top-color: var(--gray-100);
                    border-bottom-color: var(--gray-100);
                }
            }
        }
    }
}

header {
    position: sticky;
    z-index: 4;
    margin-top: 64px;
    margin-bottom: -64px;
    left: 0;
    right: 0;
    height: 0;

    @media screen and (min-width: $bp-single-col) {
        top: 0; // Pin to top on desktop
    }

    .menu-inner {
        @include grid;
        @include grid-outer-margins;
        
        &.open:before {
            margin-top: var(--header-height);
            background-color: var(--gray-10);
        }
        
    //  Border
        &:after {
            content: "";
            display: block;
            position: absolute;
            left:  calc(-1 * var(--grid-outer-gap-l));
            right: calc(-1 * var(--grid-outer-gap-r));
            height: calc(var(--symbol-width) / 2);
            border-bottom: var(--border);
            pointer-events: none;
        }
        
    //  White background on right half of header
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: calc(-2 * var(--header-height));
            left: calc(-1 * var(--grid-outer-gap-l));
            right: calc(-1 * var(--grid-outer-gap-r));

            bottom: 0;
            height: calc(var(--header-height) * 3);
            z-index: -1;
            
            @media screen and (min-width: $bp-single-col) {
                left: calc(50vw - var(--grid-column-gap));
                right: calc(-1 * var(--grid-outer-gap-r));
                height: calc(var(--header-height) * 2);
                margin-top: var(--header-height);
                background-color: var(--gray-10);
            }
        }
        
        h1, .links {
            opacity: 0;
            transform: translateY(8px);
            transition: var(--motion-duration-fast) var(--motion-easing);
            transition-property: opacity, transform;
        }
        
        a.logo {
            display: flex;
            grid-column: var(--grid-column-right);
            border: none; 
            grid-row: 1/2;
            height: var(--header-height);
                  
            @media screen and (min-width: $bp-single-col) {
                margin-left: calc(var(--symbol-width) / -2);
                
            }
            
            &:hover {
                background: none;
            }
            
            .symbol {
                --can-scale: false;  // Prevent from scaling on mobile
                height: var(--symbol-width);
                width:  var(--symbol-width);
                background-image: url(/imgs/symbol-4bit-staggered-1fps.gif);
                background-size: contain;
                margin-left: calc(var(--grid-column-gap) * -1);
                
                @media screen and (min-width: $bp-single-col) {
                    --can-scale: true;
                    transform: scale(2);// Set inital value so there isn't
                                        // a sudden jump after JS gets applied
                }
            }
            
            h1 {
                @include font-h4;
            }
        }
        
        .links {
            grid-column: 8/10;
            grid-row: 1/2;
            text-align: right;
            
            a {
                @include font-metadata;
                display: inline-block;
                margin-left: 8px;
                margin-top: 4px;
                padding-top: 4px;
                border: none;
                line-height: 16px;
                background: none;
                position: relative;
                
                &:hover {
                    border-bottom: var(--border);
                }
                
                // Arrow icon
                &:after {
                    content: " ";
                    height: 16px;
                    width:  16px;
                    display: inline-block;
                    position: relative;
                    top: 2px;
                    
                    -webkit-mask-image: url(/icons/arrow-left-up.svg);
                            mask-image: url(/icons/arrow-left-up.svg);
                    -webkit-mask-repeat: no-repeat;
                            mask-repeat: no-repeat;
                    -webkit-mask-size: 100% 100%;
                            mask-size: 100% 100%;
                    -webkit-mask-position: left bottom;
                            mask-position: left bottom;
                            
                    background-color: var(--gray-100);
                }
            }
        }
    }
}

.cover-off-screen header {
    h1, .links {
        opacity: 1;
        transform: translateY(0px);
    }
}



// Nav menu button
input#toggle-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    
    @media screen and (min-width: $bp-single-col) {
        display: none;        
    }  
}
