.cursor-arrow {
    cursor: url('/icons/cursor-arrow.svg') 16 0, auto;
}
.cursor-pointer {
    cursor: url('/icons/cursor-pointer.svg') 16 16, auto;
}

.cursor-text {
    cursor: url('/icons/cursor-text-selection.svg') 16 16, auto;
}

.cursor-crosshair {
    cursor: url('/icons/cursor-crosshairs.svg') 16 16, auto;
}

.cursor-move {
    cursor: url('/icons/cursor-move.svg') 16 16, auto;
}

.cursor-resize-vertical {
    cursor: url('/icons/cursor-resize-vertical-wide.svg') 16 16, auto;
}

// @mixin cursor-resize-horizontal {
//     cursor: url('/icons/cursor-resize-horizontal-wide.svg') 16 16, auto;
// }
