input[type='range'] {
  border: var(--border);
  @extend .cursor-pointer;
  outline: none;
}
/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    overflow: hidden;
    width: 100%;
    max-width: 450px;
    -webkit-appearance: none;
    // background-color: #9a905d;
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 20px;
    -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px;
  }
  
  input[type='range']::-webkit-slider-thumb {
    width: 20px;
    -webkit-appearance: none;
    height: 20px;
    background: var(--gray-100);
    box-shadow: -1000px 0 0 1000px var(--yellow-50);
    // @include .cursor-resize-horizontal;
    cursor: url('/icons/cursor-resize-horizontal-wide.svg') 16 16, auto;
  }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: var(--yellow-50); 
}
// input[type="range"]::-moz-range-track {  
// background-color: var(--yellow-50);
// }
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: var(--yellow-50); 
}
// input[type="range"]::-ms-fill-upper {  
// background-color: #9a905d;
// }
