include mixins
include sections
doctype html

html(lang='en')
    head
        title Antimander
        meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport")
        link(rel="icon", type="image/gif", href="favicon.gif")
        link(rel="apple-touch-icon", href="imgs/apple-touch-icon.png")
        // link(rel="stylessheet", href="http:///basehold.it/8")
        +redaction_font()
        +d3_scripts()
        +google_analytics()
    body
        +header()
        +nav()
        article
            +cover()
            +viewer()
            //- +vary_tests()
            +background()
            +metrics()
            +all_compactness_viewer()
            +next-steps()
            +methods()
            +results()
            //- +appendix()
            +references()
        .baseline
        script(src="/src/nio-temp.js")
        