include mixins
include sections
doctype html

html(lang='en')
    head
        title Antimander
        meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport")
        link(rel="icon", type="image/gif", href="favicon.gif")
        +redaction_font()
        +d3_scripts()
        +google_analytics()
    body
        +header()
        +nav()
        +cover()
        +overview()
        +viewer()
        +metrics()
        +all_compactness_viewer()
        +derp()
        +methods()
        +results()
        +next-steps()
        +appendix()
        +references()
        script(src="/src/nio-temp.js")
