include includes/mixins
doctype html

mixin district_viewer(name)
    .district-viewer
        h2.header!=name
        .parcoords
        .padding(style='height:20px;')
        // canvas.main_canvas(width=1024, height=1024)

mixin intro()
    div.outer-text-container#intro
        div.inner-text-container
            p Gerrymandering is difficult for courts to fight becuase there is no agreed upon definition. Properties like compactness and fairness are desired but there are subjective tradeoffs between them and no 'ideal' districting exists. As a result, it is difficult to deffinitively show that a districting could be more fair. Evaluating a districting by comparing it to a set of reasonable alternatives has become a theoretically attractive approach. However, generating a large set of satisfactory districts is a significant technical challence because states may be composed of tens of thousands of geographic units, with trade-offs between many competing objectives.

            //- p Like with generative design tools, the goal is to present an optimal set of options for every trade-off that can be used for comparison.
            p Antimander is a generative design tool and research project to generate and browse optimized congressional dsitrictings. While districting commitess using it directly is unikely, it could be used as evidence of gerrymandering and also to help inform to public about the tradeoffs and how these trade-offs were made for their districts.

            p Antimander proposes connecting algorithmic districting to the research field of multi-objective evolutionary algorithms (MOEAs) and novelty search and presents an open source optimization engine and viewer that does so. It is just a first-step and more work and help is needed.

            h3(style='margin-top:0px;') Wisconsin: Real vs Antimander-Optimized
            img(src='imgs/results.png')

mixin background()
    div.outer-text-container#background
        div.inner-text-container
            h2 Background
            p Every decade the US redraws congressional districts, which are divisions of a state each allotted one elected congressional representative. The distribution of elected representatives has significant political impact, motivating political parties to exploit such districting to their advantage, known as gerrymandering. For example, districtings can pack a small number of districts full of the opposing party’s voters to waste many votes, enabling other districts to crack i.e. to be won by a small (but comfortable) amount, thereby securing an outsize proportion of a state’s representatives for the gerrymandering party.
            p The Supreme Court has ruled that while gerrymandering may be unjust, an impartial means to evaluate it is lacking. While many properties of districts (e.g. compactness and fairness) are desired, subjective tradeoffs between them often exist. As a result, it is difficult to deffinitively show that a districting could be more fair.Evaluating a districting by comparing it to a set of possiblities has become a theoretically attractive approach. However, generating a large set of satisfactory districts is a significant technical challence because states may be composed of tens of thousands of geographic units, with trade-offs between many competing objectives. Previous approaches apply Monte Carlo methods [1], single-objective evolutionary algorithms [4], and non-evolutionary two-objective methods [6] to generate districtings. Antimander is a open source, multi-objective evolutionary that creates optimzied dsitricts for comparison.

            //- h4 The #[a(href='https://www.smithsonianmag.com/history/where-did-term-gerrymander-come-180964118/') original "Gerrymander"] in Massachusetts
            //- img(src='imgs/the_gerrymander.jpg', style='width:256px;')
            //- H2 The role of Software
            //- P
            //- p Despite gerrymandering remaining a challenge, there is promise that algorithmic developments may o er relief. Towards that end, we have demonstrated a method and open-source tool that optimizes districts across several objectives using multi-objective evolution. Our study in Wisconsin demonstrates the capacity to produce districts that are more equal, competitive, and compact than the current real-world districts.

            //- p However, for tools like this to be successful they must incorporate many further measures, including majority-minority districts, preserving areas of interest, and other metrics that vary in importance by state. We suggest the districting problem as a potential MOEA benchmark for both technical reasons and because of its timely need for the 2021 redistricting.



            //- p Here we present an evolutionary multi-objective approach to identify gerrymandering, building on recent approaches that contrast a prospective districting with an ensemble of simulated solutions [7]. The premise is that a fair districting should not be heavily Pareto-dominated by such simulated solutions. However, generating a large set of satisfactory districts is a signi cant technical because states may be composed of tens of thousands of geographic units, with trade-o s between many competing objectives. Previous approaches apply Monte Carlo methods [1], single- objective evolutionary algorithms [4], and non-evolutionary two- objective methods [6] to generate districtings. However, there re- mains a need for an optimization tool that can scale to thousands of geographic units, several constraints, and more than two objectives. This paper connects the problem of congressional districting to the research  eld of multi-objective evolutionary algorithms (MOEAs) and novelty search. We introduce and validate a framework and open source library called Antimander1 for multi-objective optimiization of congressional districts.


            //-

mixin viewer()
    .viewer_row#viewer(data-datapath='general')
        +district_viewer("Interactive Viewer")
        .district-text
            .district-text-inner
                .scroll_block
                    p
                        | On the top left is something called a #[a.cite(href='https://eagereyes.org/techniques/parallel-coordinates') parallel coordinates plot]
                        | which has one line for every generated solution. Each vertical axis is another dimension we are trying to optimize for.
                .scroll_block
                    p You can drag (brush) on axis to filter only those. This makes it easy to explore the tradeoffs. For example, you may see only the top percentage of one objective and also how those solutions rank in other objectives.
                    img.shadow(src='imgs/filter.png')

                .scroll_block
                    p You may also click on any district to enlarge it.

                .scroll_block
                    p Each state is divided into eight districts. The color represents what party that district is leaning towards.
                    img.legend(src='imgs/figure_legend.png')

                //- for _ in [1,2,3]
                //-     .scroll_block
                //-         p Test
                //- p Test2
                //- .padding(style='height:30vh;')

html(lang='en')
    head
        title Antimander
        +redaction_font()
        +d3_scripts()
    body
        //- #inner_body
        #header-container.container.center
            h1.main-heading
                i Antimander

            p(style='margin-top: 0px;') Open-source research and software to fight gerrymandering

            p.small By #[a(href='http://www.joelsimon.net') Joel Simon] with contributions from #[a(href='http://joellehman.com/') Joel Lehman] and Nio Ono
            //- br
        #inner_body
            br
            div.outer-text-container
                div.inner-text-container.tags
                    for name, idx in ['intro', 'background', 'viewer', 'metrics', 'methods', 'next-steps']
                        h4.tag: a(href='#'+name)!=idx+': '+name.toUpperCase()
                //- p March 2020
            +intro()
            +background()
            +viewer()

            canvas.main_canvas(width=1024, height=1024)

            #metrics.outer-text-container
                div.inner-text-container
                    H2 What makes a good district?
                    p The results above were optimized for "fairness", "compactness" and "competitiveness." But what are those and what do they mean?
                div.inner-text-container
                    .col2
                        h3 Fairness
                        p Generally we want the percent of representatives to correspont to the percent of voters for that party. The efficiency gap [5] is a metric that views fairness through the lens of the lost votes of each party. Votes cast for the losing party, or those cast for the winning party beyond the winning threshold are considered lost.
                    //- .col3
                        h3 Compactness
                        p The original gerrymander was named for its peculiar shape it is intuitivly desirable to expect to live near people within a same district.
                    .col2
                        h3 Competitiveness
                        p
                        p Close races helps prevent incumbents from being too entrenched (incumbant gerrymandering). Also, less polarized represetnatives are beneficial for a healthy democracy. Competitiveness is measured by the largest ratio by which one party wins over another.

                    //- p And many others...

            div.outer-text-container#methods
                div.inner-text-container
                    H3 Compactness
                    p The original gerrymander was named for its peculiar shape it is intuitivly desirable to expect to live near people within a same district. A lot of attention is therefore paid to the shad of districts, especially since - unlike other metrics - it is easy to evaluate visually. But what does it mean to be 'compact'? It turns out there are many metrics that can be used.
                    //- A lot of attention is paid to the shape of dsit

                    //- p Images below from #[a(href="https://fisherzachary.github.io/public/r-output.html") Measuring Compactness Article] which
                    //- and we have come to conflate bizzare shapes with gerrymandering.
                    //- and intuitivelty more compact shapes feel better.
                div.inner-text-container.wide
                    .col4
                        h4 Polspy-Popper
                        //- p Generall
                        img(src='imgs/compactness/polsby_popper.png')
                        p Ratio of area to perimeter (used above).
                    .col4
                        h4 Convex-Hull
                        img(src='imgs/compactness/convex_hull.png')
                        p Ratio of area to its convex hull.
                    .col4
                        h4 Bounding-Circle (Reock)
                        img(src='imgs/compactness/reock.png')
                        p Ratio of area to its minimum bounding circle. Also knows as "Reock."
                    .col4
                        h4 Center-Distance
                        img(src='imgs/compactness/reock.png')
                        p The average distance to the centroid of a district.

            .viewer_row#viewer(data-datapath='all_compactness')
                    +district_viewer("Multiple compactness")
                    .district-text
                        .district-text-inner
                            for i in [1,2,3,4]
                                .scroll_block
                                    p Test
            //- .viewer_row#viewer
            //-     .district-viewer
            //-         h2.header Interactive Viewer
            //-         .parcoords
            //-         .padding(style='height:20px;')
            //-         canvas.main_canvas(width=1024, height=1024)

            //-     .district-text
            //-         .district-text-inner

            div.outer-text-container#methods
                div.inner-text-container
                    H3 Methods
                    p

            div.outer-text-container#next-steps
                div.inner-text-container
                    h3 Next Steps
                    p
            //- div.outer-text-container
            //-     div.inner-text-container
            +mailchimp()

            div.outer-text-container#next-steps
                div.inner-text-container
                    h3 References
                    ol
                        li A
                        li B


