include mixins
include sections
doctype html

html(lang='en')
    head
        title Antimander
        meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport")
        +redaction_font()
        +d3_scripts()
    body
        #derp
            .col2
            //- (style="border-right: 1px solid;")
        +header()
        +overview()
        //- +background()
        +viewer()
        +metrics()
        +all_compactness_viewer()
        +methods()
        +results()
        +next-steps()
        +appendix()
        +references()
        //- 