mixin header()
    header
        a(href="#cover")
            .symbol
            h1 Antimander

mixin nav()
    nav
        ol
            for name, idx in ['overview', 'viewer', 'metrics', 'methods', 'results', 'next-steps', 'appendix', 'references']
                li.navlink.caption(class = name == active ? 'active' : '')
                    a(href='#'+name)!=name

mixin text-container(text)
    div.outer-text-container
        div.inner-text-container
            p!=text

mixin district_viewer()
    .district-viewer.left_col
        .parcoords
        .canvas_container
        p.view_count.metadata Viewing N / K

mixin mailchimp()
    .mailchimp
        // Begin Mailchimp Signup Form
        h3 Stay up to date:
        link(href='//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css', rel='stylesheet', type='text/css')
        style(type='text/css').
            #mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
            /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
            We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        #mc_embed_signup
            form#mc-embedded-subscribe-form.validate(action='https://app.us19.list-manage.com/subscribe/post?u=a8bf2c0baf9814ce560cee82d&id=9ea5be3557', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
                #mc_embed_signup_scroll
                    // label(for='mce-EMAIL') Stay up to date with Antimander
                    input#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='email address', required='')
                    // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                    div(style='position: absolute; left: -5000px;', aria-hidden='true')
                        input(type='text', name='b_a8bf2c0baf9814ce560cee82d_9ea5be3557', tabindex='-1', value='')
                    .clear
                        input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')

mixin google_analytics()
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-101632858-6')
    script.
        if (document.location.hostname != 'localhost') {
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-101632858-6');
        }

mixin redaction_font()
    style.
        @font-face {
            font-family: "redaction";
            src: url("./fonts/Redaction-Regular.woff") format('woff');
        }
        @font-face {
            font-family: "redaction";
            src: url("./fonts/Redaction-Bold.woff") format('woff');
            font-weight: bold;
        }
        @font-face {
            font-family: "redaction";
            src: url("./fonts/Redaction-Italic.woff") format('woff');
            font-style: italic;
        }

        @font-face {
            font-family: "redaction-10";
            src: url("./fonts/Redaction10-Regular.woff") format('woff');
        }
        @font-face {
            font-family: "redaction-10";
            src: url("./fonts/Redaction10-Bold.woff") format('woff');
            font-weight: bold;
        }
        @font-face {
            font-family: "redaction-20";
            src: url("./fonts/Redaction20-Regular.woff") format('woff');
        }
        @font-face {
            font-family: "redaction-20";
            src: url("./fonts/Redaction20-Bold.woff") format('woff');
            font-weight: bold;
        }
        @font-face {
            font-family: "redaction-20";
            src: url("./fonts/Redaction20-Italic.woff") format('woff');
            font-style: italic;
        }
        @font-face {
            font-family: "redaction-35";
            src: url("./fonts/Redaction35-Regular.woff") format('woff');
        }
        @font-face {
            font-family: "redaction-35";
            src: url("./fonts/Redaction35-Italic.woff") format('woff');
            font-style: italic;
        }
        @font-face {
            font-family: "redaction-35";
            src: url("./fonts/Redaction35-Bold.woff") format('woff');
            font-weight: bold;
        }
        @font-face {
            font-family: "redaction-50";
            src: url("./fonts/Redaction50-Regular.woff") format('woff');
        }
        @font-face {
            font-family: "redaction-50";
            src: url("./fonts/Redaction50-Bold.woff") format('woff');
            font-weight: bold;
        }
        @font-face {
            font-family: "redaction-70";
            src: url("./fonts/Redaction70-Regular.woff") format('woff');
        }
        @font-face {
            font-family: "redaction-100";
            src: url("./fonts/Redaction100-Regular.woff") format('woff');
        }
        @font-face {
            font-family: "vg5000";
            src: url("./fonts/VG5000-Regular_web.woff") format('woff');
        }

mixin d3_scripts()
    link(href='style/d3.parcoords.css', rel='stylesheet', type='text/css')
    link(href='style/parallel-coordinates.css', rel='stylesheet', type='text/css')
    script(src='src/lib/d3.min.js')
    script(src='src/lib/d3.svg.multibrush.js')
    script(src='src/lib/d3.autodesk.parcoords.js')
    //- script(src='src/lib/d3.parcoords.js')

    //- script(src='https://d3js.org/d3-color.v1.min.js')
    //- script(src='https://d3js.org/d3-interpolate.v1.min.js')
    //- script(src='https://d3js.org/d3-scale-chromatic.v1.min.js')

